/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic'); Open Sans*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

html{
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll;
}

body{
	background-color: #f2f2f2;
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 1.42;
}

header{
	background-color: grey; /*for view*/
	width: 100%;
}


.logo{
	
}
.menu{

}

.menu li{
	list-style-type: none;
	display: inline-block;
}

footer{
	background-color: grey;
	height: 100px;
}